#child {
    color: antiquewhite;
}
#child2 {
    color: aquamarine;
}

 /* FOood appp */

  *{
    /* margin: 0; 
    padding: 0; */
    box-sizing: border-box;
    color: whitesmoke;
  }
  
.header {
    
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    /* background-color: #bf0647; */
}
.login{
    padding: 0 20px;
    cursor: pointer;
}
.logo {
    width: 200px;
    border: none;
    width: max-content;
    height: 55px;
    margin: 12px;
} 
/* .nav-items{
    
} */
.nav-items > ul {
    display: flex;
    padding: 0px 40px;
    font-size: 24px;

}
.nav-items > ul > li {
    padding: 10px;
    margin: 10px;
    list-style: none;
}
.body{
    z-index: 2;
}
.filter{
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.filter-btn{
    margin: 5px;
    padding: 7px;
    cursor: pointer;
}
.search{
    width: 70%;
}
.search-box{
    margin: 5px;
    padding: 7px;
    width: 60%;
    border-radius: 12px;
    border: 1px solid black;
    text-decoration: none;
}
.search-btn{
    margin: 5px;
    padding: 7px;
    width: 20%;
    border-radius: 12px;
    cursor: pointer;
}
.res-container{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}
.res-card {
    width: 200px;
    height: 400px;
    margin: 10px; 
    padding: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.res-card:hover {
    /* border: 1px solid black; */
    box-shadow: 0 0 20px  rgb(38, 41, 44);    
    cursor: pointer;
    overflow: auto;
    text-overflow: ellipsis;
    
}
.res-logo {
    width: 100%;
    height: 65%;
 
}
.shimmer-container {
    display: flex;
    flex-wrap: wrap;
}

.shimmer-card {
    width: 200px;
    height: 400px;
    margin: 10px;
    background-color: #ccc4c428;

}

.special-element {
    position: fixed;
    background-image: url("https://th.bing.com/th/id/OIP.V3pfm-CWX7wyHsT5ExiGOwHaEK?pid=ImgDet&rs=1");
    background-size: cover; /* Cover the entire container */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent image repetition */
    opacity: 0.9; /* Adjust opacity as needed */
    width: 100%; /* Take up the full width of the parent container */
    height: 100vh; /* Take up the full height of the viewport */
    top: 0;
    left: 0;
    z-index: -1;
  }
.search-box, .search-btn, .filter-btn, .login{
    background-color: #979797;
    color: rgb(103, 19, 19);
    font-weight: bold;
    font-size: 18px;
}
/* Restaurant menu */
.Link{
    text-decoration: none;
}
.menuList{
    padding-bottom: 13px;
    color: red;
    font-weight: bold;
    font-size: 20px;
}
.menuPrice{
    /* color: #ffa8B6; */
    color: white;
    font-weight: bold;
    font-size: 20px;
}
/* user */
.userCard{
    padding: 19px;
    border: 1px solid black;
}
button{
    color: black;
}